# Bankful API Keys
BANKFUL_API_KEY=CxZ38BrVoAm57Hkq0ptNgOlXTT0VzIKI
BANKFUL_API_SECRET=bWOZya24UlClgVM6tOLKaWZWL7es8YMziZyA6olt8dFtTUFSAl3s3wwlm3DKVIwW

# Firebase Config (if needed)
# FIREBASE_API_KEY=
# FIREBASE_PROJECT_ID=
